<nav class="custom-navbar">
  <div class="brand">
    <img src="assets/img/logo.png" alt="RentEase Logo" class="logo" />
    <span>RentEase</span>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/car/list" routerLinkActive="active">Autos</a></li>
    <li><a routerLink="/rental/list" routerLinkActive="active">Alquileres</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/register" routerLinkActive="active">Registro</a></li>
  </ul>
</nav>