<form #carForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="type">Tipo:</label>
    <input
      type="text"
      id="type"
      name="type"
      [(ngModel)]="car.type"
      required
    />
  </div>
  <div>
    <label for="model">Modelo:</label>
    <input
      type="text"
      id="model"
      name="model"
      [(ngModel)]="car.model"
      required
    />
  </div>
  <button type="submit" [disabled]="carForm.invalid">
    {{ car?.id ? 'Modificar' : 'Agregar' }}
  </button>
</form>